@use '../layouts' as l;
@use '../myvariables' as v;
@use '../designElement' as d;
@use '../neumorphismus' as n;
@use '../glassMorphismus' as g;

.contHome {
  @include l.layoutFlexboxColumCenter;
  align-items: flex-start;
  width: 100vw;
  height: 222vh;
  margin: 0%;
  background-image: url(../../images/theBeatles/BeatlesPortada.jpeg);
  @include d.backgroundImage;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40px 620px;
  background-color: v.$backgroundColorIniWhite;

  &>.contCarrousel {
    @include l.layoutFlexboxRowCenter;
    align-items: flex-start;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: auto;
    padding: 0%;
    margin: 0%;
    background-color: v.$colorTextIni;
  }

  &>.contHeaderHome {
    @include l.layoutFlexboxColumCenter;
    @include g.boxShadowGlassMorpCard;
    background-color: v.$backgroundColorDunkelBlackT;
    width: 11vw;
    position:absolute;
    top: 0%;
    right: 2%;
    padding: 0.5%;
    margin: 1% auto;
    margin-left: 2%;
    z-index: 20;
    transition: all 0.45s ease;

    &>.contName {
      @include d.desig_H_element (v.$colorHell, 1.2rem);
      @include l.layoutFlexboxRowCenter;
      margin: 0% auto;
      text-shadow: g.$textShadowGlassMorphismusText1;

      &>span {
        @include d.desig_H_element (v.$colorHell, 1.3rem);
        margin: 0% auto;
        text-align: center;
        padding: 2%;
        transform: rotate(-15deg) translateY(-0.3rem) translateX(0.3rem);
        animation: changeColorTitle infinite 16s linear alternate;
      }

      &>.figureLogo {
        @include d.figure;
        @include l.layoutFlexboxRowCenter;
        border-radius: 50%;
        width: 3.4rem;
        height: 3.4rem;
        padding: 1%;
        margin: 1%;
        background: v.$gradientSlice;
        transform: translateY(0.3rem) translateX(0.2rem);

        &>.imgLogo {
          @include d.imageGenerall;
          width: 3.4rem;
          height: 3.4rem;
          border-radius: 50%;
          padding: 1%;
          background-color: v.$backgroundColorDunkelBlack;     
          transition: all 0.45s ease;

          &:hover,
          &:active {
            cursor: pointer;
            animation: rotateLogo 3s infinite linear;
          }
        }
      }
    }
  }

  &>.contLeftOptions {
    @include l.layoutFlexboxColumCenter;
    justify-content: flex-start;
    width: 22vw;
    height: 150vh;
    margin: 0%;
    margin-top: 67vh;
    background-color: transparent;

    &>.contAlbumOfDay {
      @include l.layoutFlexboxRowCenter;
      width: 16vw;
      height: 39vh;
      margin: 0% auto;
      background-color: transparent;
    }

    &>.contCustomRecord {
      @include l.layoutFlexboxRowCenter;
      width: 16vw;
      height: 79vh;
      margin: 0% auto;
      background-color: transparent;
      margin-top: 32vh;

      border: 1px solid red;
    }

    &>figure {
      @include d.figure;
      position: absolute;
      top: 45vh;
      left: 32vw;
      width: 12rem;
      height: 12rem;
      margin-left: 10%;

      &>#contFondo {
        @include d.backgroundImage;
        width: 12rem;
        height: 12rem;
        margin: 0% auto;
        opacity: 0.3;
        border-radius: 50%;
        background-image: url(../../images/theBeatles/SgtPepper.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: moveFigure 3s ease-in-out infinite;


        &:hover,
        &:focus {
          cursor: pointer;
          opacity: 0.9;
          box-shadow: v.$boxShadow3;
          animation: changeBackgroundImg 8s ease-in-out infinite forwards;
        }
      }
    }
  }
}

#icon2 {
  display: block;
  transform: scale(2);
  margin-left: 6%;
  padding: 0%;
  color: v.$colorGreenHell2;

  transition: all 0.45s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(2);
    color: v.$colorRed;
  }
}



@keyframes changeBackgroundImg {
  0% {
    background-image: url(../../images/theBeatles/SgtPepper.jpg);
  }

  10% {
    background-image: url(../../images/theBeatles/logoBeatles1.webp);
    transform: rotate(72deg)
  }

  20% {
    background-image: url(../../images/theBeatles/dow.jpg);
    transform: rotate(144deg)
  }

  30% {
    background-image: url(../../images/theBeatles/B&WBeatles2.webp);
    transform: rotate(216deg)
  }

  40% {
    background-image: url(../../images/theBeatles/psicoBeatles5.webp);
    transform: rotate(288deg)
  }

  50% {
    background-image: url(../../images/theBeatles/756863.jpg);
    transform: rotate(360deg)
  }

  60% {
    background-image: url(../../images/theBeatles/TopRigth.jpg);
    transform: rotate(288deg)
  }

  70% {
    background-image: url(../../images/theBeatles/chula3Thebeatles.jpg);
    transform: rotate(216deg)
  }

  80% {
    background-image: url(../../images/theBeatles/psicoBeatles3.webp);
    transform: rotate(144deg)
  }

  90% {
    background-image: url(../../images/theBeatles/psicoBeatles2.webp);
    transform: rotate(72deg)
  }

  100% {
    background-image: url(../../images/theBeatles/TopLeft.jpg);
    transform: rotate(0deg)
  }
}

@keyframes changeColorTitle {
  0% {
    color: v.$colorHell8;
    text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  10% {
    color: v.$colorRedNeu;
    text-shadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
  }

  20% {
    color: v.$colorHell5;
    textShadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  30% {
    color: v.$colorDarkBlue3;
    textShadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  40% {
    color: v.$colorHell9;
    textShadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  }

  50% {
    color: v.$colorHell4;
    textShadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  60% {
    color: v.$colorbackgroudInstagramHell;
    textShadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  }

  70% {
    color: v.$colorHell6;
    textShadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  80% {
    color: v.$colorbackgroudMy;
    textShadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  }

  90% {
    color: v.$colorHell9;
    textShadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
    text-emphasis-color: 130%;
  }

  100% {
    color: v.$colorOrange;
    textShadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
  }
}

@keyframes moveFigure {
  0% {
    transform: scale(1) rotate(-0.5deg);
  }

  25% {
    transform: rotate(0.5deg);
  }

  50% {
    transform: scale(1.01)rotate(-0.5deg);
  }

  75% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: scale(1) rotate(-0.5deg);
  }
}

@keyframes rotateLogo{
  from {
    transform: rotate(0deg) scale(1.1);
    box-shadow: v.$boxShadow9;
  }

  to {
    transform: rotate(720deg) scale(1.1);
    border: 1px solid v.$backgroundColorDunkelGray4;
    box-shadow: v.$boxShadow12;
  }
}