/*   ////////////////////////////////////////       */
.contSidePanel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0%;
  height: auto;
  max-height: 90vh;
  position: fixed;
  top: 22.2%;
  left: 0%;
  background: rgba(5, 247, 5, 0.3);
  border-radius: 9px;
  box-shadow: 0px 1px 2px 2px rgb(184, 255, 134), inset 6px 6px 12px 0px #03fb03, 0px 1px 3px 3px #99f0b6;
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 2px solid rgba(70, 125, 75, 0.68);
  border: 3px solid rgba(231, 230, 230, 0.6);
  border-radius: 29px;
  padding: 1% auto;
  margin: 0% 0.16%;
  transition: 0.45s all ease;
}
.contSidePanel > .contSPTopAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  height: auto;
  padding: 0.1%;
  margin: 0% auto;
  border-radius: 29px 29px 0px 0px;
  background-color: transparent;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -12px -12px 24px #aaaaaa, inset 12px 12px 24px #ffffff;
  overflow: hidden;
  border-radius: 29px 0px 0px 0px;
  padding: 1%;
  margin: 0% auto;
  margin-bottom: 1%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  margin: 0% auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .figureLogoBeatlesmaniac {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  width: 3.9rem;
  height: 3.9rem;
  margin: 0% auto;
  padding: 0%;
  background-color: transparent;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .figureLogoBeatlesmaniac > .imageLogo {
  position: relative;
  width: 100%;
  object-fit: contain;
  image-rendering: optimizeSpeed;
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 50%;
  padding: 0%;
  margin: 0% auto;
  margin-left: 38%;
  margin-top: 39%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-end;
  width: 96%;
  margin: 2% auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin: 0% auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .firstPart {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 46%;
  margin: 0% auto;
  padding: 1.6% auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .firstPart > .band {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  margin: 1% 4%;
  color: rgb(63, 63, 63);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .firstPart > .theAlbum {
  position: relative;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(10, 10, 10);
  margin: 1% 2%;
  padding: 1%;
  text-align: left;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.39), 1px 1px 3px #5d5d63;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .contLabel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 36%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .contLabel > .labelLabel {
  color: rgb(63, 63, 63);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-right: 2%;
  text-shadow: none;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopTop > .contLabel > .label {
  position: relative;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(220, 21, 21);
  margin: 1% 2%;
  padding: 1%;
  text-align: left;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.39), 1px 1px 3px #5d5d63;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopDown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 2.8% auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopDown > .titleAlbum {
  color: rgba(2, 2, 101, 0.9);
  text-align: center;
  font-size: 1.28rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin: 0% auto;
  margin-left: 8%;
  transition: all 0.35s ease;
  animation: titleMove 6s 1s linear infinite forward;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopDown > .contTrack {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: auto;
  margin-right: 2%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopDown > .contTrack > .tracks {
  position: relative;
  text-align: justify;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(66, 66, 71);
  margin: 1% 2%;
  padding: 1%;
  text-align: left;
  text-shadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
  margin-right: 10%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contTopSideSP > .contTopRigth > .contTopDown > .contTrack > .labelTracks {
  color: rgb(39, 39, 39);
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-right: 2%;
  text-shadow: none;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.1% auto;
  margin-top: 2%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2.5%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contTypeGenre {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  width: 59%;
  margin: 0%;
  padding: 0%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contTypeGenre > .labelTypeAlbum {
  color: rgb(39, 39, 39);
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin: 0%;
  padding: 0%;
  margin-right: 4%;
  text-shadow: none;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contTypeGenre > .collectionType {
  position: relative;
  text-align: justify;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(66, 66, 71);
  margin: 1% 2%;
  padding: 1%;
  text-align: left;
  margin: 0%;
  margin-right: 18%;
  padding: 0%;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.39), 1px 1px 3px #5d5d63;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contTypeGenre > .genre {
  position: relative;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(23, 23, 24, 0.85);
  margin: 1% 2%;
  padding: 1%;
  margin: 0%;
  padding: 0%;
  text-align: left;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.39), 1px 1px 3px #5d5d63;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contReleased {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 46%;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contReleased > .labelReleased {
  color: rgb(39, 39, 39);
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-right: 2%;
  text-shadow: none;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contTypeAlbum > .contReleased > .released {
  position: relative;
  text-align: justify;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(66, 66, 71);
  margin: 1% 2%;
  padding: 1%;
  text-align: left;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.39), 1px 1px 3px #5d5d63;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contCopyright {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1%;
  margin-bottom: 0.1rem;
  height: auto;
}
.contSidePanel > .contSPTopAlbum > .TopLeftSPArticleBrand > .contDownSide > .contCopyright > .copyright {
  color: rgb(9, 9, 9);
  text-align: center;
  font-size: 0.65rem;
  font-weight: bold;
  margin: 3% auto;
  text-shadow: -4px -3px 4px rgba(0, 0, 0, 0.39), 2px 3px 4px rgba(0, 0, 0, 0.3);
  margin: 0%;
  padding: 0%;
  text-align: left;
  margin-right: 2%;
}
.contSidePanel > .contSPTopAlbum > .TopHalftSPAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -12px -12px 24px #aaaaaa, inset 12px 12px 24px #ffffff;
  border-radius: 0px;
  width: 18%;
  height: 12rem;
  padding: 1%;
  margin: 0% auto;
  margin-left: 1%;
  border-radius: 0px 29px 0px 0px;
  background-color: rgba(231, 230, 230, 0.6);
}
.contSidePanel > .contSPTopAlbum > .TopHalftSPAlbum > .contFigureAlbum {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  height: 4.2rem;
  width: 4.2rem;
  padding: 0%;
  background-color: transparent;
}
.contSidePanel > .contSPTopAlbum > .TopHalftSPAlbum > .contFigureAlbum > .imageAlbum {
  position: relative;
  width: 100%;
  object-fit: contain;
  image-rendering: optimizeSpeed;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  padding: 0%;
  margin: 0% auto;
  animation: rotateRecord linear 12s infinite forwards;
}
.contSidePanel > .contSPMiddleAlbum {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
  border-radius: 0px;
  background-color: transparent;
}
.contSidePanel > .contSPMiddleAlbum > .contDescriptionShort {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -12px -12px 24px #aaaaaa, inset 12px 12px 24px #ffffff;
  border-radius: 3px;
  margin: 0% auto;
}
.contSidePanel > .contSPMiddleAlbum > .contDescriptionShort > .spanDescriptionShort {
  position: relative;
  text-align: justify;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(4, 32, 52, 0.9);
  margin: 1% 2%;
  padding: 1%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin: 0% auto;
  padding: 1.8%;
  text-align: justify;
  text-shadow: -9px -4px 4px rgba(0, 0, 0, 0.39), 0 10px 8px rgba(0, 0, 0, 0.3);
  font-weight: 400;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset -12px -12px 24px #aaaaaa, inset 12px 12px 24px #ffffff;
  height: auto;
  border-radius: 0px;
  margin: 0.8% auto;
  margin-bottom: 0%;
  border-radius: 0px 0px 26px 26px;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0% auto;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem {
  background-color: transparent;
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  border-radius: 3px;
  border-radius: 0px 0px 26px 26px;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem > .accordionHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  border: 3px solid rgba(167, 166, 166, 0.6);
  border-radius: 3px;
  border-radius: 0px 0px 26px 26px;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem > .accordionHeader > .textOfImagesAlbums {
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(9, 9, 9);
  margin: 0% 2%;
  padding: 1%;
  margin: 0% auto;
  padding: 0%;
  font-size: 700;
  font-weight: bold;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem > .accordionBody {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0% auto;
  padding: 0%;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem > .accordionBody > .contSongOfAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0% auto;
  padding: 0%;
}
.contSidePanel > .contSPMiddleAlbum > .contAccordionAlbum > .AccordionAlbum > .AccordionItem > .accordionBody > .contSongOfAlbum > .contTableSongsOfAlbum {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  padding: 0%;
  transform: scale(0.6);
}

/* Style the button that is used to open the sidepanel */
.contButtonToggle {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% auto;
  position: fixed;
  top: 33%;
  left: -11.5%;
  z-index: 100;
}

@keyframes titleMove {
  0% {
    opacity: 0;
    transform: translateX(-130%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes rotateRecord {
  from {
    transform: rotate(0deg) scale(1.2);
    box-shadow: 6px 8px 12px 2px rgba(98, 98, 98, 0.8), inset 7px 7px 18px 3px rgba(67, 67, 67, 0.8), 6px 6px 9px 9px rgba(38, 38, 38, 0.8);
  }
  to {
    transform: rotate(720deg) scale(1.4);
    border: 1px solid rgb(63, 63, 63);
    box-shadow: 1px 1px 1px 0px #c3c3c3, inset 6px 6px 10px 0px #222222, 1px 1px 1px 1px #c3c3c3;
  }
}

/*# sourceMappingURL=CompSideBarAlbum.css.map */
