@use '../../../layouts' as l;
@use '../../../myvariables' as v;
@use '../../../designElement' as d;
@use '../../../glassMorphismus' as g;
@use '../../../neumorphismus' as n;

.contLoginSpotify {
    @include l.layoutFlexboxColumCenter;
    align-items: space-between;
    width: 8rem;
    position: absolute;
    top: 17%;
    right: 6%;
    margin: 1% auto;
    padding: 1%;
    z-index: 100;

    &>.figureLogoSpotify {
        @include d.figure;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        margin: 0% auto;
        margin-bottom: 6%;
        padding: 1%;
        background-color: v.$backgroundColorIni;

        &>.imgLogoSpotify {
        @include d.imageGenerall;
        border-radius: 50%;
        width: 3.1rem;
        height: 3.1rem;
        margin: 0% auto;
        padding: 0%;
        transition: all lineal 0.45s;

        }
    }


}