@use '../../layouts' as l;
@use '../../myvariables' as v;
@use '../../designElement' as d;
@use '../../neumorphismus' as n;
@use '../../glassMorphismus' as g;

.contCentral {
  @include l.layoutFlexboxColumCenter;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0%;
  margin: 0% auto;
  background-image: linear-gradient(v.$backgroundColorDunkelBlack 16%, v.$backgroundColorDunkelBlackT 36%, v.$backgroundColorDunkelBlack),
    url("../../../images/theBeatles/Fans/fans8.webp");
  background-size: 64% 68%;
  background-position: 0% 16%;
  background-repeat: no-repeat;
  background-color: v.$backgroundColorDunkelBlack;

  &>.contMessageLogin {
    @include l.layoutFlexboxColumCenter;
    @include g.GlassMorphismus6;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50vmax;
    height: 15vh;
    max-width: 32%;
    padding: 0.5% 2%;
    margin: 1% auto;

    &>.figImgAvatar {
      @include d.figure;
      @include n.neuMorphismus3;
      width: 7rem;
      height: 7rem;
      position: absolute;
      top: 12%;
      right: 5%;
      padding: 1%;
      border-radius: 50%;
      box-shadow: rgba(163, 177, 198, 0.5) 4px 4px 6px 0px, rgb(255, 255, 255) -4px -4px 6px 0px;
      animation: changeFilter 3s ease infinite;
      background-color: v.$backgroundColorIni;

      &>.imgAvatar {
        @include d.imageGenerall;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        object-position: center;
        background-color: white;
      }
    }

    &>.contWelcome {
      @include d.desigHeader (transparent);
      @include l.layoutFlexboxColumCenter;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding: 1%;
      margin: 0% auto;

      &>.titleWillkommen {
        @include d.desig_H_element (v.$colorHell, 1.8em);
        font-weight: bolder;
        padding: 0%;
        margin: 0%;
        text-shadow: g.$textShadowGlassMorphismusTextGreen;
      }

      &>.contAnimationSpan {
        @include l.layoutFlexboxColumCenter;
        width: 40%;
        margin: 0% auto;
        margin-top: 5%;
        padding: 1% auto;
        overflow: hidden;
        background-color: v.$backgroundColorIniWhite;

        &>.textIsLoggend {
          @include d.configurationText2 (v.$colorGreen, 1rem);
          margin: 0%;
          padding: 0%;
          transform: translateX(-100%);
          animation: moveText 3s linear forwards;
        }
      }
    }
  }

  &>.headerLogin {
    @include l.layoutFlexboxColumCenter;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50vmax;
    max-width: 32%;
    @include d.desigHeader (transparent);
    padding: 0.5% 2%;
    margin: 2% auto;
    margin-bottom: 1%;

    &>.titleFormularLogin {
      @include d.desig_H_element (v.$colorHell, 2.8rem);
      font-weight: bolder;
      padding: 1%;
      margin: 0% auto;
    }
  }

  &>.colorRed {
    @include g.GlassMorphismus5;

    &>.titelFormularLoginCustomer {
      text-shadow: g.$textShadowGlassMorphismusTextRed;
    }
  }

  &>.colorGreen {
    @include g.GlassMorphismus6;

    &>.titelFormularLoginCustomer {
      text-shadow: g.$textShadowGlassMorphismusTextGreen;
    }
  }

  &>.contFormLogin {
    @include l.layoutFlexboxColumCenter;
    @include n.neuMorphismus4;
    max-width: 32%;
    min-height: 25vh;
    margin: 0% auto;
    padding: 1%;

    &>.formLogin {
      @include l.layoutFlexboxColumCenter;
      width: 80%;
      height: auto;
      margin: 0% auto;
      padding: 0%;

      &>.headerFormLogin {
        @include d.desigHeader(transparent);
        padding: 0%;
        margin: 0%;

        &>.titleOfFormular {
          @include d.desig_H_element (v.$colorTextIni, 1.8rem);
          text-align: left;
          float: left;
          padding: 0%;
          margin-left: 0%;
        }
      }

      &>.contDataLogIn {
        @include l.layoutFlexboxColumCenter;
        @include n.neuMorphismus2;
        border-radius: 9px;
        height: auto;
        margin: 1% auto;
        padding: 1%;

        &>.contLabel_Input {
          @include l.layoutFlexboxRowCenter;
          justify-content: flex-start;
          margin-bottom: 2%;

          &>label {
            @include l.layoutFlexboxRowCenter;
            @include d.configurationLabel (v.$colorTextIni, 1rem);
            margin-right: 4%;
            width: auto;

            &>.ico {
              transform: scale(1.4);
              color: v.$colorDarkBlue1;
              padding: 1%;
              margin: 0% 1%;
              margin-left: 12%;
            }
          }

          &>input {
            @include d.configurationText2 (v.$colorTextIni, 0.9rem);
            max-width: 66%;
            text-align: left;
            font-weight: 400;
            transition: all 0.45s ease;
            border: 2px solid v.$backgroundColorDunkelGray4;

            &:hover,
            &:focus {
              cursor: pointer;
              border: 2px solid v.$colorbackgroudneuOrange;
            }
          }

          &>#emailUserLogin {
            margin-left: 9%;
            width: 57.7%;
          }

          &>#passwordUserLogin {
            width: 57.8%;
            margin-bottom: 1%;
          }

          &>.contCheckBox {
            @include l.layoutFlexboxRowCenter;
            width: auto;
            height: auto;
            position: absolute;
            bottom: 15%;
            right: 4%;
            transform: scale(2.5);
          }
        }
      }

      &>.contButtons {
        @include l.layoutFlexboxRowCenter;
        width: 16rem;
        justify-content: space-evenly;
        padding: 0%;
        margin-top: 2%;
        margin-left: 102%;
      }

      &>.ulOfErrors {
        @include l.layoutFlexboxColumCenter;
        list-style: none;

        &>.liError {
          @include d.configurationText1 (v.$colorNavy, 0.9rem);

        }
      }

      &>.register-switch {
        @include d.configurationText2 (v.$colorNavy, 1rem);
        float: left;
        text-decoration: underline;
        transition: all ease 0.45s;
        margin-left: 6%;
        margin-bottom: 2%;

        &:hover,
        &:focus {
          cursor: pointer;
          font-size: 1.35rem;
          font-style: italic;
          color: v.$colorRedNeu;
          text-decoration: double;
          font-weight: bolder;
        }
      }
    }
  }

  &>.contFormLogout {
    @extend .contFormLogin;
    @include l.layoutFlexboxColumCenter;
    align-items: flex-start;
    max-width: 32%;
    min-height: 12vh;
    margin-top: 0%;

    &>.contButtonsLogout {
      @include l.layoutFlexboxRowCenter;
        width: 16rem;
        justify-content: space-evenly;
        padding: 0%;
        margin-top: 1%;
        margin-left: 55%;
        gap: 10%;
    }
  }
}

.contNewCustormerRegister {
  @include l.layoutFlexboxColumCenter;
  justify-content: flex-start;
  width: 30rem;
  padding: 0%;
  margin: 0% auto;
  margin-bottom: 0%;

  &>.headerFormRegisterNewCustomer {
    @include d.desigHeader (transparent);
    @include l.layoutFlexboxRowCenter;
    justify-content: flex-start;
    padding: 0%;
    margin: 0% auto;


    &>.titleOfRegisterNewCustomer {
      @include d.desig_H_element (v.$colorNavy, 1.1rem);
      font-weight: 700;
      text-align: left;
      transition: all ease 0.45s;

      &:hover,
      &:focus {
        font-size: 1.2rem;
        font-style: italic;
        color: v.$colorRedNeu;
        font-weight: bold;
      }
    }
  }

  &>.contButtonCreateNewCustomer {
    @include l.layoutFlexboxRowCenter;
    justify-content: flex-end;
    width: 8.5rem;
    margin-right: -43%;
  }
}

@keyframes changeFilter {
  0% {
    box-shadow: rgba(122, 196, 120, 0.5) 4px 4px 6px 0px, rgb(225, 246, 216) -4px -4px 6px 0px;
  }

  20% {
    box-shadow: rgba(66, 184, 62, 0.5) 6px 6px 8px 0px, rgb(208, 251, 189) -6px -6px 8px 0px;

  }

  40% {
    box-shadow: rgba(17, 184, 11, 0.5) 8px 8px 12px 0px, rgb(179, 209, 166) -8px -6px 12px 0px;

  }

  60% {
    box-shadow: rgba(66, 184, 62, 0.5) 3px 6px 10px 0px, rgb(208, 251, 189) -3px -6px 10px 0px;

  }

  80% {
    box-shadow: rgba(66, 184, 62, 0.5) 5px 5px 8px 0px, rgb(208, 251, 189) -5px -5px 8px 0px;

  }

  100% {
    box-shadow: rgba(122, 196, 120, 0.5) 4px 4px 6px 0px, rgb(225, 246, 216) -4px -4px 6px 0px;
  }
}

@keyframes moveText {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }

}